.header
    .flag
        img(src="/images/flags/"+country.iso+".gif",alt="country flag")
    if startYear === endYear
        h3 What happened in&nbsp;<em>#{country.name}</em><br />in&nbsp;<em>#{endYear}</em>?
    else
        h3 What happened in&nbsp;<em>#{country.name}</em><br />between <em>#{startYear}</em>&nbsp;and&nbsp;<em>#{endYear}</em>?
    
a.btn.btn-large.go-to-docs Launch search trough the documents
if events.length
    .events
        h4 Remember, it was the period of:
        ul.unstyled
            each e in events
                li
                    .label.pull-right
                        if e.start_date < e.end_date
                            =e.start_date
                            ="-"
                            =e.end_date
                        else
                            =e.start_date

                    a(href="http://en.wikipedia.org/wiki/index.html?curid="+e.key.value)=e.name