.header
    .flag
        - if(typeof country.suppl != "undefined")
            img(src="/images/flags/" + country.iso_alph2_1970 + "-" +  country.suppl + ".gif",alt="country flag")
        - else
            img(src="/images/flags/" + country.iso_alph2_1970 + ".gif",alt="country flag")
    if startYear === endYear
        h3 What happened in&nbsp;<em>#{country.name}</em><br />in&nbsp;<em>#{endYear}</em>?
    else
        h3 What happened in&nbsp;<em>#{country.name}</em><br />between <em>#{startYear}</em>&nbsp;and&nbsp;<em>#{endYear}</em>?
    
a(href=searchUrl, target="_parent").btn.btn-large.go-to-docs Launch a text search through the documents
if events.length
    .events
        h4 Remember, it was the period of:
        ul.unstyled
            each e in events
                li
                    .label.pull-right
                        if e.start_date < e.end_date
                            =new Date(e.start_date).getFullYear()
                            ="-"
                            =new Date(e.end_date).getFullYear()
                        else
                            =e.start_date
                    if e.key
                        a(href="http://en.wikipedia.org/wiki/index.html?curid="+e.key.value)=e.name
                    else if e.url
                        a(href=e.url)=e.name
                    else
                        =e.name