#topmenu.tc.hidden-phone  
  a(target='_blank', href='http://wikileaks.org/Main.html') Main
  a(target='_blank', href='http://wikileaks.org/About.html') About
  a(target='_blank', href='http://wikileaks.org/Donate.html') Donate
  a(target='_blank', href='http://wikileaks.org/Banking-Blockade.html') Banking Blockade
  a(target='_blank', href='http://wikileaks.org/Press.html') Press
  a(target='_blank', href='https://chat.wikileaks.org/?channels=ps') Chat
  a(target='_blank', href='http://wikileaks.org/Supporters.html') Supporters

#leftmenu.tc.hidden-tablet.hidden-phone 
  img.bottom05(src='./images/wl2.jpg', alt='WikiLeaks')
  a.button(href=searchUrl + 'pressrelease/') Press release
  a.button(href=searchUrl + 'about/') About PlusD

  .pick
    h3 Browse by creation date
    a(href=searchUrl + '/?q=&qtfrom=1966-01-01&qtto=1966-12-31') 1966
    a(href=searchUrl + '/?q=&qtfrom=1972-01-01&qtto=1972-12-31') 1972
    a(href=searchUrl + '/?q=&qtfrom=1973-01-01&qtto=1973-12-31') 1973
    a(href=searchUrl + '/?q=&qtfrom=1974-01-01&qtto=1974-12-31') 1974
    a(href=searchUrl + '/?q=&qtfrom=1975-01-01&qtto=1975-12-31') 1975
    a(href=searchUrl + '/?q=&qtfrom=1978-01-01&qtto=1978-12-31') 1978
    a(href=searchUrl + '/?q=&qtfrom=1979-01-01&qtto=1979-12-31') 1979
    a(href=searchUrl + '/?q=&qtfrom=1985-01-01&qtto=1985-12-31') 1985
    a(href=searchUrl + '/?q=&qtfrom=1986-01-01&qtto=1986-12-31') 1986
    a(href=searchUrl + '/?q=&qtfrom=1987-01-01&qtto=1987-12-31') 1987
    a(href=searchUrl + '/?q=&qtfrom=1988-01-01&qtto=1988-12-31') 1988
    a(href=searchUrl + '/?q=&qtfrom=1989-01-01&qtto=1989-12-31') 1989
    a(href=searchUrl + '/?q=&qtfrom=1990-01-01&qtto=1990-12-31') 1990
    a(href=searchUrl + '/?q=&qtfrom=1991-01-01&qtto=1991-12-31') 1991
    a(href=searchUrl + '/?q=&qtfrom=1992-01-01&qtto=1992-12-31') 1992
    a(href=searchUrl + '/?q=&qtfrom=1993-01-01&qtto=1993-12-31') 1993
    a(href=searchUrl + '/?q=&qtfrom=1994-01-01&qtto=1994-12-31') 1994
    a(href=searchUrl + '/?q=&qtfrom=1995-01-01&qtto=1995-12-31') 1995
    a(href=searchUrl + '/?q=&qtfrom=1996-01-01&qtto=1996-12-31') 1996
    a(href=searchUrl + '/?q=&qtfrom=1997-01-01&qtto=1997-12-31') 1997
    a(href=searchUrl + '/?q=&qtfrom=1998-01-01&qtto=1998-12-31') 1998
    a(href=searchUrl + '/?q=&qtfrom=1999-01-01&qtto=1999-12-31') 1999
    a(href=searchUrl + '/?q=&qtfrom=2000-01-01&qtto=2000-12-31') 2000
    a(href=searchUrl + '/?q=&qtfrom=2001-01-01&qtto=2001-12-31') 2001
    a(href=searchUrl + '/?q=&qtfrom=2002-01-01&qtto=2002-12-31') 2002
    a(href=searchUrl + '/?q=&qtfrom=2003-01-01&qtto=2003-12-31') 2003
    a(href=searchUrl + '/?q=&qtfrom=2004-01-01&qtto=2004-12-31') 2004
    a(href=searchUrl + '/?q=&qtfrom=2005-01-01&qtto=2005-12-31') 2005
    a(href=searchUrl + '/?q=&qtfrom=2006-01-01&qtto=2006-12-31') 2006
    a(href=searchUrl + '/?q=&qtfrom=2007-01-01&qtto=2007-12-31') 2007
    a(href=searchUrl + '/?q=&qtfrom=2008-01-01&qtto=2008-12-31') 2008
    a(href=searchUrl + '/?q=&qtfrom=2009-01-01&qtto=2009-12-31') 2009
    a(href=searchUrl + '/?q=&qtfrom=2010-01-01&qtto=2010-12-31') 2010
  .sort
    h3 Browse by Classification
    a(href=searchUrl + '/?q=&qfoclass=-- N/A or Blank --', title='-- N/A or Blank -- (26265 documents)') -- N/A or Blank --
    a(href=searchUrl + '/?q=&qfoclass=UNCLASSIFIED', title='UNCLASSIFIED (1769145 documents)') UNCLASSIFIED
    a(href=searchUrl + '/?q=&qfoclass=CONFIDENTIAL', title='CONFIDENTIAL (118057 documents)') CONFIDENTIAL
    a(href=searchUrl + '/?q=&qfoclass=UNCLASSIFIED//FOR OFFICIAL USE ONLY', title='UNCLASSIFIED//FOR OFFICIAL USE ONLY (58095 documents)') UNCLASSIFIED//FOR OFFICIAL USE ONLY
    a(href=searchUrl + '/?q=&qfoclass=SECRET', title='SECRET (29521 documents)') SECRET
    a(href=searchUrl + '/?q=&qfoclass=LIMITED OFFICIAL USE', title='LIMITED OFFICIAL USE (15798 documents)') LIMITED OFFICIAL USE
    a(href=searchUrl + '/?q=&qfoclass=CONFIDENTIAL//NOFORN', title='CONFIDENTIAL//NOFORN (4678 documents)') CONFIDENTIAL//NOFORN
    a(href=searchUrl + '/?q=&qfoclass=SECRET//NOFORN', title='SECRET//NOFORN (4330 documents)') SECRET//NOFORN
  .sort
    h3 Browse by Handling Restriction
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=EXDIS', title='EXDIS - Exclusive Distribution Only (43794 documents)') EXDIS - Exclusive Distribution Only
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=LIMDIS', title='LIMDIS - Limited Distribution Only (18027 documents)') LIMDIS - Limited Distribution Only
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=NODIS', title='NODIS - No Distribution (other than to persons indicated) (12753 documents)') NODIS - No Distribution (other than to persons indicated)
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=STADIS', title='STADIS - State Distribution Only (10620 documents)') STADIS - State Distribution Only
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=ONLY', title='ONLY - Eyes Only (9895 documents)') ONLY - Eyes Only
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=NOFORN', title='NOFORN - No Foreign Dissemination (1437 documents)') NOFORN - No Foreign Dissemination
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=LOU', title='LOU - Limited Official Use (346 documents)') LOU - Limited Official Use
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=SENSITIVE', title='SENSITIVE (28 documents)') SENSITIVE
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=BU', title='BU - Background Use Only (2 documents)') BU - Background Use Only
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=CONDIS', title='CONDIS - Controlled Distribution (1 document)') CONDIS - Controlled Distribution
    a(href=searchUrl + '/?q=&qforiginalhandlingrestriction=US', title='US - US Government Only (1 document)') US - US Government Only
  .pick.wide
    h3 BrowsearchUrl + se by TAGS
    a(href=searchUrl + '/?q=&qftags=US', title='US - United States (353490 documents)') US
    a(href=searchUrl + '/?q=&qftags=PFOR', title='PFOR - Political Affairs: Foreign Policy and Relations (250983 documents)') PFOR
    a(href=searchUrl + '/?q=&qftags=PREL', title='PREL - Political Affairs: External Political Relations (149333 documents)') PREL
    a(href=searchUrl + '/?q=&qftags=PGOV', title='PGOV - Political Affairs: Internal Governmental Affairs (148913 documents)') PGOV
    a(href=searchUrl + '/?q=&qftags=ETRD', title='ETRD - Economic Affairs: Foreign Trade (86464 documents)') ETRD
    a(href=searchUrl + '/?q=&qftags=OEXC', title='OEXC - Outreach: Educational and Cultural Exchange Operations (84106 documents)') OEXC
    a(href=searchUrl + '/?q=&qftags=OGEN', title='OGEN - Outreach: General (80164 documents)') OGEN
    a(href=searchUrl + '/?q=&qftags=UR', title='UR - Soviet Union (USSR) (79030 documents)') UR
    a(href=searchUrl + '/?q=&qftags=EFIN', title='EFIN - Economic Affairs: Financial and Monetary Affairs (74741 documents)') EFIN
    a(href=searchUrl + '/?q=&qftags=CVIS', title='CVIS - Consular Affairs: Visas (71402 documents)') CVIS
    a(href=searchUrl + '/?q=&qftags=OVIP', title='OVIP - Outreach: VIP Travel Arrangements (70058 documents)') OVIP
    a(href=searchUrl + '/?q=&qftags=BEXP', title='BEXP - Business Services: Trade Expansion and Promotion (68711 documents)') BEXP
    a(href=searchUrl + '/?q=&qftags=ASEC', title='ASEC - Administration: Security (67672 documents)') ASEC
    a(href=searchUrl + '/?q=&qftags=CASC', title='CASC - Consular Affairs: Assistance to Citizens (67638 documents)') CASC
    a(href=searchUrl + '/?q=&qftags=ECON', title='ECON - Economic Affairs: Economic Conditions (64577 documents)') ECON
    a(href=searchUrl + '/?q=&qftags=PINT', title='PINT - Political Affairs: Internal Political Affairs (63838 documents)') PINT
    a(href=searchUrl + '/?q=&qftags=EAID', title='EAID - Economic Affairs: Foreign Economic Assistance (59743 documents)') EAID
    a(href=searchUrl + '/?q=&qftags=OTRA', title='OTRA - Outreach: Travel (56281 documents)') OTRA
    a(href=searchUrl + '/?q=&qftags=PHUM', title='PHUM - Political Affairs: Human Rights (55203 documents)') PHUM
    a(href=searchUrl + '/?q=&qftags=ENRG', title='ENRG - Economic Affairs: Energy and Power (54526 documents)') ENRG
    a(href=searchUrl + '/?q=&qftags=NATO', title='NATO - North Atlantic Treaty Organization (51335 documents)') NATO
    a(href=searchUrl + '/?q=&qftags=PINS', title='PINS - Political Affairs: Internal Security (49395 documents)') PINS
    a(href=searchUrl + '/?q=&qftags=OCON', title='OCON - Outreach: Conferences and Meetings (49131 documents)') OCON
    a(href=searchUrl + '/?q=&qftags=JA', title='JA - Japan; Okinawa (46698 documents)') JA
    a(href=searchUrl + '/?q=&qftags=MARR', title='MARR - Military and Defense Affairs: Military and Defense Arrangements (45300 documents)') MARR
    a(href=searchUrl + '/?q=&qftags=UN', title='UN - United Nations; Transaero (43381 documents)') UN
    a(href=searchUrl + '/?q=&qftags=GE', title='GE - Germany (43254 documents)') GE
    a(href=searchUrl + '/?q=&qftags=UK', title='UK - United Kingdom (41634 documents)') UK
    a(href=searchUrl + '/?q=&qftags=PARM', title='PARM - Political Affairs: Arms Controls and Disarmament (38728 documents)') PARM
    a(href=searchUrl + '/?q=&qftags=APER', title='APER - Administration: Personnel (38576 documents)') APER
    a(href=searchUrl + '/?q=&qftags=IS', title='IS - Israel (38440 documents)') IS
    a(href=searchUrl + '/?q=&qftags=PINR', title='PINR - Political Affairs: Intelligence (37300 documents)') PINR
    a(href=searchUrl + '/?q=&qftags=FR', title='FR - France (36892 documents)') FR
    a(href=searchUrl + '/?q=&qftags=EG', title='EG - Egypt (34652 documents)') EG
    a(href=searchUrl + '/?q=&qftags=EAGR', title='EAGR - Economic Affairs: Agriculture and Forestry (33987 documents)') EAGR
    a(href=searchUrl + '/?q=&qftags=SREF', title='SREF - Social Affairs: Refugees (33762 documents)') SREF
    a(href=searchUrl + '/?q=&qftags=MASS', title='MASS - Military and Defense Affairs: Military Assistance and Sales (33690 documents)') MASS
    a(href=searchUrl + '/?q=&qftags=SNAR', title='SNAR - Social Affairs: Narcotics (33432 documents)') SNAR
    a(href=searchUrl + '/?q=&qftags=KISSINGER, HENRY A', title='KISSINGER, HENRY A - Henry Kissinger (32618 documents)') KISSINGER, HENRY A
    a(href=searchUrl + '/?q=&qftags=TU', title='TU - Turkey (31838 documents)') TU
    a(href=searchUrl + '/?q=&qftags=MX', title='MX - Mexico (30761 documents)') MX
    a(href=searchUrl + '/?q=&qftags=SCUL', title='SCUL - Social Affairs: Cultural Affairs (30707 documents)') SCUL
    a(href=searchUrl + '/?q=&qftags=IN', title='IN - India (30447 documents)') IN
    a(href=searchUrl + '/?q=&qftags=CH', title='CH - China (Mainland) (29618 documents)') CH
    a(href=searchUrl + '/?q=&qftags=CA', title='CA - Canada (29407 documents)') CA
    a(href=searchUrl + '/?q=&qftags=EAIR', title='EAIR - Economic Affairs: Civil Aviation (29089 documents)') EAIR
    a(href=searchUrl + '/?q=&qftags=IR', title='IR - Iran (28855 documents)') IR
    a(href=searchUrl + '/?q=&qftags=PTER', title='PTER - Political Affairs: Terrorists and Terrorism (28812 documents)') PTER
    a(href=searchUrl + '/?q=&qftags=ELAB', title='ELAB - Economic Affairs: Labor Sector Affairs (28267 documents)') ELAB
    a(href=searchUrl + '/?q=&qftags=AORG', title='AORG - Administration: International Organization Administration (28042 documents)') AORG
    a(href=searchUrl + '/?q=&qftags=EINV', title='EINV - Economic Affairs: Foreign Investments (27674 documents)') EINV
    a(href=searchUrl + '/?q=&qftags=IT', title='IT - Italy (27435 documents)') IT
    a(href=searchUrl + '/?q=&qftags=TH', title='TH - Thailand (26499 documents)') TH
    a(href=searchUrl + '/?q=&qftags=SENV', title='SENV - Social Affairs: Environmental Affairs (25972 documents)') SENV
    a(href=searchUrl + '/?q=&qftags=VS', title='VS - South Vietnam; Virgin Atlantic (25236 documents)') VS
    a(href=searchUrl + '/?q=&qftags=KS', title='KS - Korea (South) (24889 documents)') KS
    a(href=searchUrl + '/?q=&qftags=XF', title='XF - Middle East (23794 documents)') XF
    a(href=searchUrl + '/?q=&qftags=PL', title='PL - Poland (22883 documents)') PL
    a(href=searchUrl + '/?q=&qftags=EGEN', title='EGEN - Economic Affairs: General (22697 documents)') EGEN
    a(href=searchUrl + '/?q=&qftags=GR', title='GR - Greece; Crete (22127 documents)') GR
    a(href=searchUrl + '/?q=&qftags=BR', title='BR - Brazil (22106 documents)') BR
    a(href=searchUrl + '/?q=&qftags=GW', title='GW - Germany (21914 documents)') GW
    a(href=searchUrl + '/?q=&qftags=MOPS', title='MOPS - Military and Defense Affairs: Military Operations (21637 documents)') MOPS
    a(href=searchUrl + '/?q=&qftags=OREP', title='OREP - Outreach: U.S. Congressional Travel (21534 documents)') OREP
    a(href=searchUrl + '/?q=&qftags=AFSP', title='AFSP - Administration: Post Administration (21372 documents)') AFSP
    a(href=searchUrl + '/?q=&qftags=RP', title='RP - Philippines (21325 documents)') RP
    a(href=searchUrl + '/?q=&qftags=TECH', title='TECH - Technology and Science: Technology (21148 documents)') TECH
    a(href=searchUrl + '/?q=&qftags=IZ', title='IZ - Iraq (20925 documents)') IZ
    a(href=searchUrl + '/?q=&qftags=PDIP', title='PDIP - Political Affairs: Diplomatic and Consular Representation (20448 documents)') PDIP
    a(href=searchUrl + '/?q=&qftags=CI', title='CI - Chile (20415 documents)') CI
    a(href=searchUrl + '/?q=&qftags=RO', title='RO - Romania (20319 documents)') RO
    a(href=searchUrl + '/?q=&qftags=SP', title='SP - Spain (20266 documents)') SP
    a(href=searchUrl + '/?q=&qftags=MILI', title='MILI - Military and Defense Affairs: General (20095 documents)') MILI
    a(href=searchUrl + '/?q=&qftags=PK', title='PK - Pakistan (20095 documents)') PK
    a(href=searchUrl + '/?q=&qftags=KDEM', title='KDEM - Democratization (19893 documents)') KDEM
    a(href=searchUrl + '/?q=&qftags=ETRN', title='ETRN - Economic Affairs: Transportation Policies (19748 documents)') ETRN
    a(href=searchUrl + '/?q=&qftags=UNGA', title='UNGA - UN General Assembly (19639 documents)') UNGA
    a(href=searchUrl + '/?q=&qftags=AFIN', title='AFIN - Administration: Financial Management (19385 documents)') AFIN
    a(href=searchUrl + '/?q=&qftags=ACOM', title='ACOM - Administration: Departmental Communications (19149 documents)') ACOM
    a(href=searchUrl + '/?q=&qftags=LE', title='LE - Lebanon (19004 documents)') LE
    a(href=searchUrl + '/?q=&qftags=SA', title='SA - Saudi Arabia (18860 documents)') SA
    a(href=searchUrl + '/?q=&qftags=NI', title='NI - Nigeria (18585 documents)') NI
    a(href=searchUrl + '/?q=&qftags=YO', title='YO - Yugoslavia (18543 documents)') YO
    a(href=searchUrl + '/?q=&qftags=OSCI', title='OSCI - Outreach: Science Grants (18381 documents)') OSCI
    a(href=searchUrl + '/?q=&qftags=AR', title='AR - Argentina (17846 documents)') AR
    a(href=searchUrl + '/?q=&qftags=SF', title='SF - South Africa (17840 documents)') SF
    a(href=searchUrl + '/?q=&qftags=ESTC', title='ESTC - Economic Affairs: Strategic Trade Controls (17835 documents)') ESTC
    a(href=searchUrl + '/?q=&qftags=SY', title='SY - Syria (17797 documents)') SY
    a(href=searchUrl + '/?q=&qftags=VE', title='VE - Venezuela (17218 documents)') VE
    a(href=searchUrl + '/?q=&qftags=PO', title='PO - Portugal (17177 documents)') PO
    a(href=searchUrl + '/?q=&qftags=ID', title='ID - Indonesia (17138 documents)') ID
    a(href=searchUrl + '/?q=&qftags=TW', title='TW - Taiwan (16810 documents)') TW
    a(href=searchUrl + '/?q=&qftags=AS', title='AS - Australia (16773 documents)') AS
    a(href=searchUrl + '/?q=&qftags=EIND', title='EIND - Economic Affairs: Industry and Manufacturing (16771 documents)') EIND
    a(href=searchUrl + '/?q=&qftags=EEC', title='EEC - European Common Market (European Communities); European Economic Community (16620 documents)') EEC
    a(href=searchUrl + '/?q=&qftags=KPAO', title='KPAO - Public Affairs Office (16420 documents)') KPAO
    a(href=searchUrl + '/?q=&qftags=CGEN', title='CGEN - Consular Affairs: General (16149 documents)') CGEN
    a(href=searchUrl + '/?q=&qftags=SOCI', title='SOCI - Social Affairs: Social Conditions (16067 documents)') SOCI
    a(href=searchUrl + '/?q=&qftags=OECD', title='OECD - Organization for Economic Cooperation and Development (15752 documents)') OECD
    a(href=searchUrl + '/?q=&qftags=JO', title='JO - Jordan (15657 documents)') JO
  .sort.clearfix
    h3 Media Organizations
    a(href='#') Australia - The Age
    a(href='#') Argentina - Pagina 12
    a(href='#') Brazil - Publica
    a(href='#') Bulgaria - Bivol
    a(href='#') Egypt - Al Masry Al Youm
    a(href='#') Greece - Ta Nea
    a(href='#') Guatemala - Plaza Publica
    a(href='#') Haiti - Haiti Liberte
    a(href='#') India - The Hindu
    a(href='#') Italy - L'Espresso
    a(href='#') Italy - La Repubblica
    a(href='#') Lebanon - Al Akhbar
    a(href='#') Mexico - La Jornada
    a(href='#') Spain - Publico
    a(href='#') Sweden - Independent
    a(href='#') UK - AP
    a(href='#') US - The Nation
  .clearfix

#topnav.tc.top20
    img(src="./images/cart.jpg", alt="")
    h2
        img(src="./images/plusdb.png", alt="Public Library of US Diplomacy")
    .hidden-phone
        a.button(href=searchUrl,target="_blank") Text Search
        a.button(href="/plusd/graph") Make Timegraph
        a.button(href="/plusd/map") Browse Map
        a.button(href=searchUrl + "/search.php",target="_blank") Browse TAGS
        a.button(href=searchUrl + "/graphics.php",target="_blank") Image Library
