extends ../layout


block prefix
    h3 Frequency of mentions in the US Diplomatic Cables Over Time

block content
    form.toolbox(action="#{root}count/ngrams.json", method="GET")#search
        .row-fluid
            .span7
                h3.hint What?
                .hint Find the evolution of a trending topic in the documents, between 1966 and 2010.
                .top10
                    input(type="text",name="q", value="Nixon,Watergate", placeholder="Comma-separated words: Watergate, Nixon, etc")
                    .go-to-search
                        !=" or&nbsp;"
                        a(href=searchUrl, data-href=searchUrl, target="_parent") launch the search engine

            .span5.hidden-phone.need-inspiration
                h3.hint Need inspiration?
                .hint Try the following terms:
                    - var suggest = ['Nixon', 'Watergate', 'OPEC', 'Angola', 'Vietnam', 'Helsinki', 'Scandal', 'Terrorism', 'Franco', 'Cyprus', 'Turkish']
                    !="<a>" + suggest.join("</a>, <a>") + "</a>."


    #trends
        .spinner Loading

        .left30.right20.relative
            .calendar-grid.bottom-label
                - for(var year=1966; year<=2010; year++)
                    .year(class=getYearClass(year))
                        .date-label
                            =getYearLabel(year)
        #graph
            .select-events-type.hidden
        .left20.right20.top20
            p.alert This graph calculates the <strong>relative proportion</strong> of a word within the electronic telegrams.


block scripts
    .tip.hidden Courage is Contagious
    script(src="#{root}javascripts/vendor/underscore-min.js", type="text/javascript")
    script(src="#{root}javascripts/vendor/d3.v3.min.js", type="text/javascript")
    script(src="#{root}javascripts/vendor/jquery.tagsinput.min.js", type="text/javascript")
    script(src="#{root}javascripts/dive.js", type="text/javascript")